<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div class='dividerLine2'></div>
<br>
<h3>
  twitter: <%= link_to "@mithipati", "https://twitter.com/mithipati", target: "_blank" %>
</h3>
<br>
<h3>
  blog: <%= link_to "Coding & Lattes", "http://mithipati.wordpress.com/", target: "_blank" %>
</h3>

