<div class="fluid-container">
  <div class="row">
    <div class="welcome-container">
      <div class="maintext-container">
        <h2>Join a Group!</h2>
      </div>

      <div class="subtext">
        <h4> Every group has their own way of communicating and unique creations of slang.<br> Share your lingo in a fun and creative atmosphere. </h4>
      </div>

      <%= link_to "Create a group", new_group_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Browse groups", groups_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>



