<div class="center hero-unit">
  <h1>Join a Group!</h1>

  <h2>
    Every group has their own way of communicating and unique creations of slang.<br>
              Share your lingo in a fun and creative atmosphere.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

