<div class="fluid-container">
  <div class="row">
    <div class="welcome-container">
      <div class="maintext-container">
        <h1 class='welcome-message'>Join a Group</h1>
      </div>
      <div class="subtext">
        <h4> Every group has their own way of communicating and unique creations of slang.</h4>
        <h4>Share your lingo in a fun and creative atmosphere. </h4>
      </div>
      <br>
      <%= link_to "Browse groups", groups_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>



