<div class="center hero-unit">
  <h1>Join a Group!</h1>

  <h2>
    Every group has their own way of communicating and unique creations of slang.<br>
              Share your lingo in a fun and creative atmosphere.
  </h2>

  <%= link_to "Create a group", new_group_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Browse groups", groups_path, class: "btn btn-large btn-primary" %>
</div>


