<h5>
  <%= @word.name %>
</h5>
<h5>Def</h5>
  <%= @word.definition %>
<br>
<h5>Example</h5><br>
  <% @word.memes.each do |meme| %>
    <%= meme.image %>
      <% if meme.binary %>
        <%= image_tag url_for(:controller => "memes", :action => "show_meme", :id => meme.id) %>
      <% end %>
  <% end %>
