<footer class="footer">
  <small>
    <a href="https://github.com/mithipati/lingo_app">Lingo App</a>
    by Neil Mithipati
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
